@import "~bulma/bulma.sass";
h2, h3, a {
  font-family: 'Fredoka', sans-serif;
  color: palevioletred;
}

h4 {
  font-family: 'Fredoka', sans-serif;
  color: black;
}

.icon-text {
  font-family: 'Montserrat', sans-serif;
  color: #db7093;
  font-weight: 1000;
  font-size: 15px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #19ad8a;
  font-weight: 1000;
  font-size: 27px;
}

.hero-body {
  background-color: white;
}

.navbar-background {
  background-color: palevioletred;
}

h2:hover {
color: rgb(210, 72, 118);
}
