@import "~bulma/bulma.sass";
h2, h3 {
  font-family: 'Fredoka', sans-serif;
  color: palevioletred;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: skyblue;
  font-style: bold;
}

.mainSection {
  border-style: dashed;
  border-color: silver;
}


h2:hover, h3:hover {
color: white;
background: palevioletred;
}

 button{
   color: palevioletred;
   font-weight: 200;
   background-color: white;
   border: white;
 }
