@import "~bulma/bulma.sass";
h2, h3 {
  font-family: 'Fredoka', sans-serif;
  color: palevioletred;
}

h4 {
  font-family: 'Fredoka', sans-serif;
  color: black;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25, 168, 200);
  font-weight: 1000;
}

.hero-body {
  background-color: white;
}

.navbar-background {
  background-color: palevioletred;
}

h2:hover, h3:hover, h4:hover {
color: rgb(210, 72, 118);
}
